# Run MariaDB with Docker

In [ ]:
!docker run --name my-mariadb -e MYSQL_ROOT_PASSWORD=1234 -p 3306:3306 -d mariadb:10.5

In [26]:
# Import required libraries
import mysql.connector
from mysql.connector import Error
import pandas as pd

# Function to create database connection
def create_connection():
    try:
        connection = mysql.connector.connect(
            host='localhost',
            port=3306,
            user='root',
            password='1234'
        )
        print("Successfully connected to MariaDB")
        return connection
    except Error as e:
        print(f"Error connecting to MariaDB: {e}")
        return None

# Create connection
connection = create_connection()

# Function to execute queries
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"Error executing query: {e}")

# Create a new database
create_db_query = "CREATE DATABASE IF NOT EXISTS sample_db"
execute_query(connection, create_db_query)

# Use the created database
connection.cursor().execute("USE sample_db")

# Create a sample table
create_table_query = """
CREATE TABLE IF NOT EXISTS employees (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(100),
    age INT,
    salary DECIMAL(10, 2)
)
"""
execute_query(connection, create_table_query)

# Insert sample data
insert_data_query = """
INSERT INTO employees (name, age, salary) VALUES
    ('John Doe', 30, 50000.00),
    ('Jane Smith', 25, 45000.00),
    ('Bob Johnson', 35, 60000.00)
"""
execute_query(connection, insert_data_query)

# Function to read data using pandas
def read_query(connection, query):
    try:
        return pd.read_sql(query, connection)
    except Error as e:
        print(f"Error reading data: {e}")
        return None

# Read data from table
select_query = "SELECT * FROM employees"
df = read_query(connection, select_query)
print("\nEmployee data:")
display(df)

# Update data
update_query = """
UPDATE employees 
SET salary = 55000.00 
WHERE name = 'John Doe'
"""
execute_query(connection, update_query)

# Read updated data
df_updated = read_query(connection, select_query)
print("\nUpdated employee data:")
display(df_updated)

# Close the connection when done
connection.close()

Successfully connected to MariaDB
Query executed successfully
Query executed successfully
Query executed successfully

Employee data:

C:\Users\Sakib\AppData\Local\Temp\ipykernel_8564\853073462.py:64: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, connection)

   id         name  age   salary
0   1     John Doe   30  50000.0
1   2   Jane Smith   25  45000.0
2   3  Bob Johnson   35  60000.0

Query executed successfully

Updated employee data:

C:\Users\Sakib\AppData\Local\Temp\ipykernel_8564\853073462.py:64: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  return pd.read_sql(query, connection)

   id         name  age   salary
0   1     John Doe   30  55000.0
1   2   Jane Smith   25  45000.0
2   3  Bob Johnson   35  60000.0